<hr />
<img src="assets/vivero-banner.png" class="img-fluid w-100" alt="Banner de vivero" style="height: 100px;" />
<hr />
<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
      <tr>
        <th class="h4 text-white bg-dark font-weight-bold">#</th>
        <th class="h4 text-white bg-dark font-weight-bold">Nombre común</th>
        <th class="h4 text-white bg-dark font-weight-bold">Tipo</th>
        <th class="h4 text-white bg-dark font-weight-bold">Clima</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of plants">
        <td>
          <dd>{{ c.id }}</dd>
        </td>
        <td>
          <dd>{{ c.nombre_comun }}</dd>
        </td>
        <td>
          <dd>{{ c.tipo }}</dd>
        </td>
        <td>
          <dd>{{ c.clima }}</dd>
        </td>
      </tr>
      </tbody>
    </table>
    <p class="text-right font-weight-bold">
      Total plantas de interior: {{ getPlantInternal() }}<br />
      Total plantas de exterior: {{ getPlantExternal() }}
    </p>
  </div>
</div>
